    <!-- About Section -->
    <section id="about" class="content-section text-center about-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
<a name="company" class="padding"></a>
<section class="company">
<div class="module group">
<h1 class="header"><span>Company</span></h1>
<p>Silex was founded by a group of industry veterans who saw a need to shift the discussion from infrastructure to a customer data strategy.</p>
<p>We are made up of a diverse group of individuals with decades of experience at all levels of the IT industry: former customers, resellers, and manufacturers. We leverage this knowledge to ensure a positive experience when our customers embark on new IT projects and initiatives.</p>
<p>Our success is fueled by the success of our customers. We maintain a laser focus on understanding your requirements, educating your teams, and enabling you to make the best business decisions.</p>

<h1 class="header"><span>Leadership</span></h1>




<!-- bio -->
<div class="bio">
<div class="photo"></div>
<div class="info">
<h3>Ryan Smith</h3>
<div class="title">President</div>

<p>Ryan Smith’s passion for people and helping them solve business problems has propelled an IT career with both breadth and depth.</p>
<p>He founded Silex Data Solutions to fill an enterprise market need for a truly agnostic provider that shifts the focus from infrastructure to client data strategy. Storage is about data but data is about business. How a company plans for and handles data can reduce costs, boost revenue and deliver predictive analytics that transform the data into a competitive asset.</p>
<p>Ryan Smith’s passion for people and helping them solve business problems has propelled an IT career with both breadth and depth.</p>
<p>He founded Silex Data Solutions to fill an enterprise market need for a truly agnostic provider that shifts the focus from infrastructure to client data strategy. Storage is about data but data is about business. How a company plans for and handles data can reduce costs, boost revenue and deliver predictive analytics that transform the data into a competitive asset.</p>
<p>Customer education is a key Silex differentiator. The company investigates new technology, crafts unbiased industry research and distills a litany of options to support customers in making well-informed decisions. Ryan and team build a strategy around key components – from enterprise storage to data center infrastructure, disaster recovery, and predictive analytics to workplace delivery.</p>
<p>Ryan’s experience encompasses successful leadership tenures at both VARs as well as OEMs. He understands that end users don’t have the time or expertise to evaluate their many options, positioning Silex to do the heavy lifting for them – presenting options that solve immediate problems and pave the way for growth.</p>
    </div>

</div>
</div>
<!-- bio -->


<!-- bio -->
<div class="bio">
<div class="photo"></div>
<div class="info">
<h3>Bryan Dunn</h3>
<div class="title">Chief Financial Officer</div>

<p>Bryan has primary responsibility for directing and overseeing all company financial/accounting objectives and obligations. He has over twenty years of financial and management experience, including an association with a Nashville certified public accounting firm. Bryan received his BS degree in Accounting from Lipscomb University and is a member of the American Institute of Certified Public Accountants (AICPA) and the Tennessee Society of Certified Public Accountants (TSCPA).</p>
<p>Bryan has primary responsibility for directing and overseeing all company financial/accounting objectives and obligations. He has over twenty years of financial and management experience, including an association with a Nashville certified public accounting firm. Bryan received his BS degree in Accounting from Lipscomb University and is a member of the American Institute of Certified Public Accountants (AICPA) and the Tennessee Society of Certified Public Accountants (TSCPA).</p>

    </div>

</div>
</div>
<!-- bio -->



</div>
</section>

                <br/>
              </div>
        </div>
    </section>
