    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Silex Data Solutions</h2>
              <br/>
                <p>Silex Data Solutions changes the discussion from infrastructure to data strategy.
Data drives business. It has quickly become your most valuable asset and your biggest differentiator. How your company handles the vast amounts of data available can reduce costs, increase revenue, and set you apart from the rest of your industry.</p>
                <br/>
              </div>
        </div>
    </section>
